<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<form action="/onLogin" method="POST">
			User: <input type="text"  name="username"> <br>
			Pass: <input type="text" name="password"> <br>
			<button type="submit">Anmelden</button>
		</form>
	</body>
</html>